<!--
  Generated template for the BmiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>BMI Calculator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label>Height (M)</ion-label>
        <ion-input type="number" [(ngModel)]="Height" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Weight (KG)</ion-label>
        <ion-input type="number" [(ngModel)]="Weight"></ion-input>
      </ion-item>
      <button ion-button color="secondary" (click)="CalculateBMI()">Calculate</button>
      <h2>Your BMI is :{{ BMIResult.toFixed(2)}}</h2>
      <h2>Your classification is {{ BMIClassification }}</h2>
    </ion-card-content>
  </ion-card>
</ion-content>
